Package: ember-qt
Version: 1.1.4.0-2
Architecture: amd64
Maintainer: Mathieu Tetreault <mathieu.alexandre.tetreault@gmail.com>
Installed-Size: 10786
Depends: libc6 (>= 2.15), libgcc1 (>= 1:4.0), libqt5core5a (>= 5.5.0), libqt5dbus5 (>= 5.0.2), libqt5gui5 (>= 5.0.2) | libqt5gui5-gles (>= 5.0.2), libqt5network5 (>= 5.0.2), libqt5widgets5 (>= 5.2.0), libstdc++6 (>= 5.2)
Section: misc
Priority: optional
Description: Wallet for Ember coin cryptocurrency
