Source: ember-qt
Maintainer: Mathieu Tetreault <mathieu.alexandre.tetreault@gmail.com>
Section: misc
Priority: optional
Standards-Version: 1.1.5.0
Build-Depends: debhelper (>= 9), qt5-default, qt5-qmake, qtbase5-dev-tools, qttools5-dev-tools, build-essential, libboost-dev (<< 1.62), libboost-system-dev  (<< 1.62), libboost-filesystem-dev  (<< 1.62), libboost-program-options-dev (<< 1.62), libboost-thread-dev (<< 1.62), libssl-dev, libdb++-dev, libminiupnpc-dev

Package: ember-qt
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Wallet for Ember coin cryptocurrency
